/*Universal styles*/
*{
    margin: 0;
    padding: 0;
}

/*style by tag*/
html, body {
    height: 100%;
}


body {
    font: 1em 100% Arial, sans-serif;
    background-color: #ffffff;
    color: rgb(10, 67, 199);
}
header {
    text-align: center;
}

a{
    text-decoration: none;
    color: #c7c8cb;
}

footer {
    text-align: center;
    padding: 1em 0em;
    background-color: rgb(6, 78, 202);
    margin-top: 2em;
}
footer p{
    color: white;
    font-size: 1.2em;
}

/*style by class*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 2em 0em 2em;
    background-color: #3434ec;
}

.logo {
    height: 5rem;
    background-color: #eaeaea;
    font-size: 4rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5em;
    font-size: 1.5em;
}
a:hover {
    color: rgb(253, 253, 253);
}
.btn{
    display: inline-block;
    padding: 1em 2em;
    background-color: #04164e;
    color: rgb(254, 255, 255);
    border-radius: 3em;
    font-size: 1.5em;
    margin-top: 1.5em;
}
.hero h2 {
    font-size: 5em;
    margin-bottom: 1em;
}
.hero p {
    font-size: 2.5em;
    margin-top: 0em;
}

.course-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
    padding: 2em;
}
.course-item{
    background-color: #2f4ea2 ;
    padding: 1.5em;
    border: 5px solid white;
    border-radius: 1em;
    text-align: left;
}
.course-item h3{
    font-size: 3em;
    margin-bottom: 0.5em;
    color: white;
}
.course-item p, .course-item a{
    font-size: 1.8em;
    margin-top: auto;
    margin-bottom: 1em;
    color: whitesmoke;
}

.courses h2{
    text-align: center;
    font-size: 4em;
    margin: 1em 0em;
}

.contact{
    max-width: 600px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    background-color: #2f4ea2 ;
    color: white;
    padding: 2em;
    border-radius: 1em;
    border: 5px solid white;
}
.contact h2{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
}
.contact label, .contact textarea, .contact input, .contact p, .contact button{
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

/*style by id*/
#home{
    height: 500px;
    border-radius: 1%;
    text-align: center;
    padding-top: 200px;
}

#enrollmentForm{
    max-width: 600px;
    margin: auto;
    background-color: #2f4ea2 ;
    color: white;
    padding: 2em;
    border-radius: 1em;
    border: 5px solid white;
}
#enrollmentForm h3{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1em;
}
#enrollmentForm label{
    font-size: 1.2em;
}
#enrollmentForm input, #enrollmentForm select, #enrollmentForm button{
    font-size: 1.2em;
}

#about{
    min-height: 500px;
    border: 5px solid white;
    border-radius: 1%;
    padding: 2em;
    text-align: center;
}

#about h2{
    font-size: 3em;
    margin-bottom: 1em;
}
#about p{
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: left;
}